@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');


h1 {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 5rem;
}

.cards_title {
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 1.6rem;
}

.cards_text {
    font-family: "Sometype Mono", "monospace";
    font-size: 1rem;
}

.header_bkg{
    background-image: url(/assets/img/wall.png);
    min-height: 100px;
}

.main_bkg {
    background-image: url(/assets/img/cork.png);
}

.pin{
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
}